.carousel-inner {
    text-align: center;
}
.carousel .item > img {
    display: inline-block;
}
.jumbotron {
    background-size: cover;
    background-color: #f4511e;
    font-family: lucida console;
    color: #ffffff;
    padding: 75px;  
    
}
body {
    
}
figcaption {
    font-style: italic;
    color: black;
}
.row {
    margin: 10px;
    padding: 10px;
    background-color:#f41e54;
    color: #ffffff;
    border-style: dashed;
    border-color: #fffff;
}
h4 {
    text-decoration: underline;
    font-size: 2em;
}
#carousel {
   
}
#submit {
    color: black;
}
 footer {
     color: black;
     text-align: center; 
 }

