.carousel-inner {
    text-align: center;
}
.carousel .item > img {
    display: inline-block;
}
.jumbotron {
    background-size: cover;
    font-family: 'Monoton' ;
    color: black;
    border-style: outset;
    font-style: bolder;
    font-style:  italic;
    text-decoration: underline;
    
}
.jumbotron h1 {
    color: #ffffff;
    text-decoration: double;
}
.item img {
    width: 40%;
}
.copper {
    text-align: center;

}
figcaption {
    font-style: italic;
    color: black;
}
.row {
    margin: 25px;
    padding: 10px;
    background-color: #ffffff95;
    color: black;
    border-style: outset;
    border-color:  #494a69;
    font-family: "Marker";
}
h4 {
    text-decoration: underline;
    font-size: 2em;
    text-align: center;
}

#submit {
    color: black;
}
 footer .well {
     color: black;
     text-align: center; 
     font-family: 'Marker';
     background-color: #3b3b3f;
 }
 fieldset {
     color: black;
 }
.jumbotron p {
     font-family: 'Monoton';
 }

h1 {
    font-weight: bolder;
    
}
.navbar {
    background-color: #3b3b3f;
    color: black;
}
@font-face {
    font-family: 'Ranchers';
    src: url('../fonts/Ranchers-Regular.ttf')
format('truetype');
}
@font-face {
    font-family: 'Monoton';
    src: url('../fonts/Monoton-Regular.ttf')
format('truetype');
}
@font-face {
    font-family: 'Marker';
    src: url('../fonts/PermanentMarker-Regular.ttf')
format('truetype');
}
@font-face {
    font-family: 'RockSalt';
    src: url('../fonts/RockSalt-Regular.ttf')
format('truetype');
}
.vp {
    font-family: '';
    color: #ffffff;
}
.nav {
    font-family: 'RockSalt';
}
.navbar {
    font-family: 'RockSalt';
    
}
